body {
    font-size : 14px;
}

nav {
  font-size : 30px;
 }

.companiestext {
    font-size : 25px;  
.myClass{
    position:absolute;
    left:100px;
}

.fromgitlocal {
    background-color: red;
}
.test {
    background-color: green;
}
